.blog {
	p, span:not(.button), li, a {
		font-size: 16px;
	}
	.main-nav {
		padding: 0 0 15px 0;
		margin: 0;
		li {
			display: inline-block;
			padding: 5px 10px 0px 10px;
			margin: 5px;
			@include border-radius(3px);

			color: $red;
			font-size: 16px;

			&:active, &:hover, &.current {
				background: $red;

				color: #fff;
				text-shadow: none;

				cursor: pointer;
			}
		}
	}
	.has_corners_shadow {
		margin-bottom: 35px;
	}
}
.wysiwyg-text-align-center {
  text-align: center;
}
.product_show p input {
	display:none;
}
.control-group.select.optional {
	margin-top:10px;
}