 <span class="parameters">
 	<div class="page-header">
 		<h1>Paramètres</h1>
 	   <ul class="buttons">
			<li class="logoff button" tool_tip="deconnexion"><span class="picture"></span></li>
			<li class="separator"></li> 	   	
 	       <li class="help button"><span class="picture"></span></li>
			<li class="separator"></li> 	      
 	       <li class="edit button" tool_tip=""><span class="picture"></span></li>
 	   </ul>		 	
 	</div>
 	
 	<div class="helper">
 		<p class="title is_bold"><i class="icon ui-help_hover"></i>Gérer vos paramètres</p>
 		<span class="close"><i class="icon-remove"></i></span>
 		<p class="content">Modifier chaque éléments de vos paramètres en cliquant simplement dessus. Une boite de modification apparatitra alors.</p>
 	</div>	
 	
 	<h2>Connexion au site</h2>

 	<div class="parameter">
 		<span class="labels is_bold">Adresse mail:</span>
 		<span class="field">loremipsum@gmail.com</span>
 	</div>
 	<div class="parameter">
 		<span class="labels is_bold">Mot de passe:</span>
 		<span class="field">xxxxxxxxxx</span>
 	</div>

 </span>

<%#= render 'form' %>

<%#= link_to 'Plus d\'info', [:administration,@user],:class => "btn" %> <!-- | -->
<%#= link_to 'Retour', administration_users_path,:class => "btn btn-inverse" %>
