p,
a,
li,
label,
span,
strong {
  font-family: helveticaneue, helvetica;
  font-size: 14px;
  color:#969696;
  text-shadow: 1px 1px 1px #ffffff;
  line-height: 1.45em;
}

h1 { @include title(1, 30px);}
h2 { @include title(1, 26px);}
h3 { @include title(2, 18px);}
h4 { @include title(2, 15px);}
h5 { @include title(2, 16px);}

h1, h2, h3, h4, h5, h6 {
  font-weight:normal !important;
}

ul {
  padding:0;
  li {
    list-style: none;
  }
}
header {
  display:bock;
}
a:hover {
  text-decoration:none !important;
}
input, textarea {
  margin:5px 0;
  &:focus {
    @include box-shadow($light_brown 0px 0px 6px );
    border-color:$brown;
  }
}
a, a:hover {
  color: $red;
}