<div class="l_main_gutter has_column" style="overflow:hidden;">
		 <div class="l_area_left">
		    	<h1>Tout sur l' A M A P</h1>
		        
		        <h3 id="ancre1">Qu'est ce qu'une AMAP ?</h3>
		        
		        <p>Association pour le maintien d'une agriculture paysanne (AMAP)</p>
		        <p>C'est le moyen aux agriculteurs locaux de se connecter directement avec les consommateurs, ce qui aide à développer un approvisionnement alimentaire régional et une forte économie locale. L'AMAP élimine les «intermédiaires»,  ce qui réduit les coûts à la fois des Agriculteurs et des consommateurs.</p>
		        <p>L'AMAP des jardins Lillois vous permet d'avoir un accès direct aux produits de haute qualité, des produits frais cultivés localement par nos agriculteurs régionaux.</p>
		        <p>La plupart des Agriculteurs de l'AMAP vous offre une variété de légumes, fruits et herbes aromatiques de saison. Certains vous offrent en plus, pour quelques € par semaine, une gamme complète de produits de la ferme:  œufs, viandes, produits laitiers. L'AMAP contribue à maintenir un sentiment de communauté.</p>
		        <p>Les Agriculteurs de l'AMAP organisent souvent des journées Portes Ouvertes, nous vous invitons à visiter nos fermes, pique-niquer, nous instaurons des animations, en favorisant le volet pédagogique sur la nature et l'environnement. Nous vous offrons également des recettes et des suggestions sur la façon de faire cuire la variété unique de légumes qui vous sont proposés chaque semaine.<p>
		        <p>La plupart des Agriculteurs de l'AMAP ont une variété de mode de paiement pour vous permettre la flexibilité  à payer vos achats. Certains Agriculteurs peuvent arranger vos paiements en plusieurs versements, et accepter des tickets restaurants.</p>
		        
		        <h3 id="ancre2">Pourquoi adhérer à une AMAP</h3>
		        
		        <p><strong>Achetez local :</strong> Votre soutien aide les petites fermes locales à rester à flot. Vous agissez également pour l'emploi, par l'installation de nouveaux jeunes agriculteurs. Communiquez avec la nourriture que vous mangez en répondant à nos fermiers et en explorant nos fermes.</p>
				<p><strong>Mangez bien :</strong> Acheter la fraîcheur des aliments pour votre famille. Explorez de nouveaux aliments et apprenez à les cuisiner.</p>
		        <p><strong>Soyez en bonne santé :</strong> Mangez plus de légumes et de fruits frais. Partagez des habitudes alimentaires saines avec vos enfants avec une variété de produits régionaux.</p>
		        <p><strong>Protégez l'environnement :</strong> Aidez les agriculteurs qui prennent soin de leurs terres par les cultures vivrières. Réduisez le nombre de kilomètre pour le parcourt de votre nourriture de la ferme à votre assiette.</p> 
		
		        <h3 id="ancre3">Le fonctionnement et le prix</h3>
		        
		      <p>Les agriculteurs s'engagent  à vous fournir un service. Les adhérents doivent s'engager sur l'ensemble de cette période et doivent signer un engagement. Le paiement se fait lors de l'inscription et après acceptation des CGV, vous avez alors la possibilité de payer en 1 fois l'ensemble des paniers, ou d'être débiter chaque mois.</p>
		      <p><strong>Distribution:</strong> L'AMAP les Jardins Lillois dispose d'un entrepôt à Lesquin mis à disposition par une importante société de logistique de la métropole. Pour la distribution de vos produits en ville, l'AMAP s'est Associée avec ASSOBIO, franchise de magasins Bio. Les produits y sont livrés tous les mardis. Il existent dix points de lieux de distribution.</p>
				<p id="adresse"><strong>ASSOBIO</strong><br/><br/>
		           Votre magasin de Villeneuve D'Ascq<br/>
				   rue de la Morandière<br/> 
		           69650 Le Haillan   03 56 12 09 83<br/>
		           ACCÈS FACILE / PARKING AUCHAN    <br/>
		           Horaire :<br/>
		           du lundi au samedde 9h30 à 19h30<br/></p>
		           
		           <div id="cl"></div>
		           
		           <p><strong>Tarifs:</strong>  Le prix du panier varie selon le nombre de personnes : 1, 2, 4, 6, 8 personnes. Vous vous engagez pour 3, 6 ou 12 mois à recevoir un panier par semaine. 
		La taille des paniers dépend de la saison, des légumes, des difficultés qu'a pu avoir notre maraicher etc... Vous êtes déjà plus de 350 clients conquis par nos agriculteurs !<p>
		         
		  </div>
		    
		  <div class="l_area_right">
		    	<h2>Index</h2>
		        <p><a href="#ancre1">Principe d'une AMAP</a></p>
		        <p><a href="#ancre2">Pourquoi adhérer à une AMAP</a></p>
		        <p><a href="#ancre3">Fonctionnement et tarifs</a></p>
		    </div>

</div>