<div class="l_main_gutter home_page">

	<div class="service slider content_right">
		<div class="image"><img src="public/images/slider/1.png"></div>		
		<div class="content">
			<h3 class="title">Les paniers d'été sont là !</h3>
			<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit, dolor id convallis facilisis, lectus nisi gravida diam, et sollicitudin ante ligula</p>
			<span class="button"><a href="">découvrez nos paniers</a></span>
		</div>
		<ul class="nav">
			<li class="active"></li>
			<li class="hover"></li>
			<li></li>
		</ul>
	</div>

	<div class="service process">
		<h1>Paniers par abonnement <br> Comment ça marche ?</h1>
		<div class="image"></div>	
		<ul class="content">
			<li>
				<h4><span>1</span> Choisissez votre panier</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit, dolor id convallis</p>
			</li>
			<li>
				<h4><span>2</span> Abonnez-vous</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit, dolor id convallis</p>
			</li>
			<li>
				<h4><span>3</span> Récupérez-le pres de chez vous</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit, dolor id convallis</p>
			</li>
		</ul>
	</div>
	
	<div class="message agriculteurs">
		<div class="content">
			<div class="wrapper">
				<h4>Nous soutenons les agriculteurs locaux</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit, dolor id convallis facilisis, lectus nisi gravida diam, et sollicitudin ante ligula</p>
				<span class="button"><a href="">joignez notre cause</a></span>
			</div>
		</div>
	</div>

	<div class="service boutique content_right">
		<div class="image"></div>	
		<div class="content">
			<h3 class="title">Découvrez  notre  boutique !</h3>
			<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit, dolor id convallis facilisis, lectus nisi gravida diam, et sollicitudin ante ligula</p>
			<span class="button"><a href="">parcourir  nos  produits</a></span>
		</div>
	</div>

	<div class="message raisonnee">
		<div class="content">
			<div class="wrapper">
				<h4>Notre agriculture est raisonnée</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit, dolor id convallis facilisis, lectus nisi gravida diam, et sollicitudin ante ligula</p>
				<span class="button"><a href="">en savoir plus</a></span>
			</div>
		</div>
	</div>

	<div class="service ceuillettes content_left">
		<div class="image"></div>	
		<div class="content">
			<h3 class="title">Participez  à  nos  ceuillettes</h3>
			<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit, dolor id convallis facilisis, lectus nisi gravida diam, et sollicitudin ante ligula</p>
			<span class="button"><a href="">rejoindre l'évènement</a></span>
		</div>
	</div>

</div>