<div class="l_main_gutter home_page">
	
	<div class="message agriculteurs"></div>

	<div class="service boutique content_right">
		<div class="image"></div>	
		<div class="content">
			<h3 class="title">Découvrez  notre  boutique !</h3>
			<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit, dolor id convallis facilisis, lectus nisi gravida diam, et sollicitudin ante ligula</p>
			<span class="button"><a href="">parcourir  nos  produits</a></span>
		</div>
	</div>

	<div class="message raisonnee"></div>

	<div class="service ceuillettes content_left">
		<div class="image"></div>	
		<div class="content">
			<h3 class="title">Participez  à  nos  ceuillettes</h3>
			<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit, dolor id convallis facilisis, lectus nisi gravida diam, et sollicitudin ante ligula</p>
			<span class="button"><a href="">plus  d'informations</a></span>
		</div>
	</div>

</div>