@import "layouts/profile.scss";
@import "layouts/parameters.scss";

.ground_top.backoffice {
	top: -20px;
}

body .backoffice {
	.l_main_gutter {
		min-height: 650px;		
		margin-bottom:20px;	
	}
	.l_wrapper {
		#statistiques {
			width: 697px;
			height: 230px;
			padding: 0 20px 20px 20px;
			margin: -20px 0 20px -20px;
			overflow: hidden;
			@include bg-sprite(statistiques);
			background-repeat: repeat-x;
			border-bottom: solid 1px $embossed_dark;
			@include box-shadow(rgba(255,255,255, 1) 0px 1px 0px 0px);			
		}
		h3 {
			font-family:'helveticaneue';
			margin-bottom: 10px;
		}
		#div_graph, .div_camembert {
			float: left;
			height: 230px;
		}
		#div_graph {
			width: 450px;
			z-index: 2;
			position: relative;
		}
		#graph {
			height: 160px;
			overflow: hidden;
		}
		.div_camembert {
			width: 240px;
		}
		.legend {
			margin: -5px 0 0 200px;
			li {
				float: left;
				margin-right: 20px;
			}
			.square {
				vertical-align: middle;
				margin-right: 10px;
			}
			.basket .square {
				background-color: #ea9d6e;
			}
			.detail .square {
				background-color: #59a494;
			}
			.square {
				display: inline-block;
				width: 25px;
				height: 12px;
				border-bottom: solid 1px rgba(255, 255, 255, 0.8);
			}
			.detail {
				font-size:12px;
			}
		}
		#camembert {
			float: left;
			width: 260px;
			svg {
				z-index:1;
				width: 470px;
				margin-left: -220px;
				margin-top: -165px;
				circle {
					display: none;
				}
				text {
					margin-left: -40px;
				}
			}
		}
		margin:0 auto 20px auto;
		div#statistiques {
			display: none;
		}
		.side_navigation {
			ul.pannels {
				padding:0;
				margin:48px 0 0 0;
				float:left;
				.link {
					@include title(1, 28px);
					position:relative;
					top:-10px;
				}
				li {
					display:block;
					width:221px;
					height:102px;
					margin-top:-1px;
					@include backoffice-sprite(bg_sidebar_middle);
					&:hover {
						cursor:pointer;
						.link {
							color:$red;	
						}
					}
					span.picture {
						display:inline-block;
						margin:20px 20px 0 20px;
					}
					&.top {
						margin-top:0;
						height:105px;
						@include backoffice-sprite(bg_sidebar_top);
					}
					&.bottom {
						height:104px;
						@include backoffice-sprite(bg_sidebar_bottom);
					}
					&.stock {
						span.picture {
							width:45px;
							height:45px;
							margin-top: 25px + 0px; // marge générale plus différence due à la hauteur spécifique de l'image																					
							@include backoffice-sprite(stock);
						}	
						&:hover {
							span.picture {
								@include backoffice-sprite(stock_hover);
							}
						}
					}
					&.archive {
						span.picture {
							width:45px;
							height:38px;
							margin-top: 25px + 4px; // marge générale plus différence due à la hauteur spécifique de l'image							
							@include backoffice-sprite(archive);
						}	
						.link {
							top:-10 + 4 !important; // marge générale plus différence due à la hauteur spécifique de l'image							
						}
						&:hover {
							span.picture {
								@include backoffice-sprite(archive_hover);
							}
						}						
					}
					&.blog {
						span.picture {
							width:45px;
							height:44px;
							margin-top: 25px + 1px; // marge générale plus différence due à la hauteur spécifique de l'image							
							@include backoffice-sprite(blog);
						}	
						.link {
							top:-10 + 1 !important; // marge générale plus différence due à la hauteur spécifique de l'image							
						}						
						&:hover {
							span.picture {							
								@include backoffice-sprite(blog_hover);
							}
						}						
					}
					&.farmer {
						span.picture {
							width:43px;
							height:47px;
							margin-top: 25px + 1px; // marge générale plus différence due à la hauteur spécifique de l'image
							@include backoffice-sprite(farmer);
						}	
						&:hover {
							span.picture {
								@include backoffice-sprite(farmer_hover);
							}
						}						
					}
					&.settings {
						span.picture {
							width:45px;
							height:44px;
							margin-top: 25px + 1px; // marge générale plus différence due à la hauteur spécifique de l'image							
							@include backoffice-sprite(cog);
						}	
						.link {
							top:-10 + 1 !important; // marge générale plus différence due à la hauteur spécifique de l'image							
						}						
						&:hover {
							span.picture {							
								@include backoffice-sprite(cog_hover);
							}
						}						
					}																				
				}
				ul.subnav {
					padding:0;
					margin-top:0;
					li {
						height:50px;
						width:160px;
						padding:0 20px 0 20px;
						margin:0 0 0 21px;
						background-color:$dark_bg_color;
						@include bg-sprite(height_109);
						background-repeat:repeat-x;
						border-top:solid 1px #ffffff;
						border-bottom:solid 1px #d7d0c4;
						.link {
							font-family:helveticaneue;
							color:$grey;
							font-size:16px;
							padding-top:10px;
							display:inline-block;
							margin:0 0 0 0px;
						}
						&:hover {
							color:$red;
							cursor:pointer;
						}
						&.subnav_element:active {
							color:$red;
							background-image:none;						
						}
						&.product {
							span.picture {
								margin:10px 15px 0 0;
								@include backoffice-sprite(product);
								display: inline-block;
								width: 18px;
								height: 26px;								
							}
							.link {
								position:relative;
								top:-5px;
								color:$brown;
							}
							&:hover {
								.link {
									color:$red;									
								}
								span.picture {
									@include backoffice-sprite(product_hover);
								}
							}
						}
						&.basket {
							span.picture {
								margin:16px 15px 0 0;
								@include backoffice-sprite(basket);
								display: inline-block;
								width: 19px;
								height: 16px;								
							}
							.link {
								position:relative;
								top:-2px;
								color:$brown;
							}
							&:hover {
								.link {
									color:$red;									
								}
								span.picture {
									@include backoffice-sprite(basket_hover);
								}
							}
						}
						//ELEMENT ACTIF QUAND ON EST DANS LA PAGE
						&.subnav_product_active
						{
							background-image:none;
							.link {
								color:$red;									
							}
							span.picture {
								@include backoffice-sprite(product_hover);
							}
						}
						&.subnav_basket_active
						{
							background-image:none;
							.link {
								color:$red;									
							}
							span.picture {
								@include backoffice-sprite(basket_hover);
							}
						}
					}
				}
			}
		}
		.container.l_main_gutter {
			width:697px; // + 40px de marge
			float:right;
			@include box;
			position:relative;
			z-index: 3;
		}
		.page-header {
			width:737px;
			text-align:center;
			height:51px;
			padding:0;
			margin:-20px 0 20px -20px;
			border-bottom:solid 1px #ffffff;
			background:url(/../images/bg_darkener.png);
			h1 {
				width:470px;
				border-bottom:solid 1px $embossed_dark;
				padding:14px 20px 6px 20px;
				margin:0;
				text-align:left;
				float:left;
			}
			.buttons {
				border-bottom:solid 1px $embossed_dark;
				width:186px;
				height:40px;
				float:left;
				padding:10px 20px 0 21px;
				margin:0;
				li.separator {
					display: block;
					float: right;
					width: 1px;
					height: 32px;
					margin-right: 10px;

					border-right: 1px solid #fff;

					background: $embossed_dark;
				}
				.group_button {
					.button {
						margin:0 -1px 0 0;
						@include borderradius(0);
						&:first-child {
							-webkit-border-top-left-radius: 5px;
							-webkit-border-bottom-left-radius: 5px;
							-moz-border-radius-topleft: 5px;
							-moz-border-radius-bottomleft: 5px;
							border-top-left-radius: 5px;
							border-bottom-left-radius: 5px;
						}
						&:last-child {
							-webkit-border-top-right-radius: 5px;
							-webkit-border-bottom-right-radius: 5px;
							-moz-border-radius-topright: 5px;
							-moz-border-radius-bottomright: 5px;
							border-top-right-radius: 5px;
							border-bottom-right-radius: 5px;      
						}						
					}
				}
				.button {
					width:30px;
					height:30px;
					display:block;
					text-align:center;
					float:right;
					margin-left: 0 !important;
					margin-right:10px;
					@include embossed_button(#c2bdb1);
					@include border-radius(5px);
					text-align:center;
					padding:0;
					&:first-child {
						margin-right:0;
					}
					span {
						display:inline-block !important;
						margin-top:7px;
					}
					&:active {
						background:$red;
						@include box-shadow(rgba(0,0,0, 0.5) 0px 1px 2px 1px inset, rgba(255,255,255, 1) 0px 1px 1px 0px);	
					}
				}
				//FOR BUTTON SI CLICK ON
				.button_active.edit
				{
					background:$red;
					@include box-shadow(rgba(0,0,0, 0.5) 0px 1px 2px 1px inset, rgba(255,255,255, 1) 0px 1px 1px 0px);
					span.picture {
						@include ui-sprite(edit_active);							
					}
				}
				//FOR BUTTON SI CLICK ON
				.button_active.stats
				{
					background:$red;
					@include box-shadow(rgba(0,0,0, 0.5) 0px 1px 2px 1px inset, rgba(255,255,255, 1) 0px 1px 1px 0px);
					span.picture {
						@include ui-sprite(stats_active);							
					}
				}
				.button_active.logoff
				{
					background:$red;
					@include box-shadow(rgba(0,0,0, 0.5) 0px 1px 2px 1px inset, rgba(255,255,255, 1) 0px 1px 1px 0px);
					span.picture {
						@include ui-sprite(logoff);							
					}
				}				
				.button_active.help
				{
					background:$red;
					@include box-shadow(rgba(0,0,0, 0.5) 0px 1px 2px 1px inset, rgba(255,255,255, 1) 0px 1px 1px 0px);
					span.picture {
						@include ui-sprite(help_active);							
					}
				}
				.help {
					&:hover {
						span {
							@include ui-sprite(help_hover);              
						}
					} 
					&:active {
						span.picture {
							@include ui-sprite(help_active);							
						}
					}				      
					span {
						@include ui-sprite(help);
						display:block;
						width:18px;
						height:18px;            
					}					
				}
				.edit {
					&:hover {
						span {
							@include ui-sprite(edit_hover);              
						}
					} 
					&:active {
						span.picture {
							@include ui-sprite(edit_active);							
						}
					}				      
					span {
						@include ui-sprite(edit);
						display:block;
						width:18px;
						height:18px;            
					}
				}  				
				.stats {
					&:hover {
						span {
							@include ui-sprite(stats_hover);							
						}
					}	
					&:active {
						span.picture {
							@include ui-sprite(stats_active);							
						}
					}										
					span {
						@include ui-sprite(stats);
						display:block;
						width:16px;
						height:16px;						
					}
				}
				.logoff {
					&:hover {
						span {
							@include ui-sprite(logoff_hover);							
						}
					}	
					&:active {
						span.picture {
							@include ui-sprite(logoff_active);							
						}
					}										
					span {
						@include ui-sprite(logoff);
						display:block;
						width:14px;
						height:16px;						
					}
				}				
				.tables {
					&:hover {
						span {
							@include ui-sprite(list_hover);							
						}
					}
					&:active {
						span.picture {
							@include ui-sprite(list_active);							
						}
					}					
					span {
						@include ui-sprite(list);
						display:block;
						width:16px;
						height:16px;						
					}
				}
				.cards {
					&:hover {
						span {
							@include ui-sprite(card_hover);							
						}
					}		
					&:active {
						span.picture {
							@include ui-sprite(card_active);							
						}
					}								
					span {
						@include ui-sprite(card);
						display:block;
						width:16px;
						height:16px;
					}
				}	
				.add {
					&:hover {
						span {
							@include ui-sprite(add_hover);							
						}
					}	
					&:active {
						span.picture {
							@include ui-sprite(add_active);							
						}
					}									
					span {
						@include ui-sprite(add);
						display:block;
						width:16px;
						height:16px;
					}
				}												
			}
		}
	}
}
.box {
	width:200px;
	position:absolute;
	top:0;
	right:0;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	.social {
		ul {
			padding:0;
			margin:0;
			li {
				float:left;
				width:40px;
				height:48px;
				@include nav-sprite(social_sign);
				margin:-1px 5px 0 5px;
				&:active {
					margin-top:0;
				}
				&.facebook {
					a {
						display:block;
						width:35px;
						height:35px;
						padding-top:10px;
						span {
							display:block;                  
							@include nav-sprite(facebook);
							width:15px;
							height:18px;     
							margin-top:11px;
							margin-left:11px;                                   
						}
					}
				}  
				&.twitter {
					a {
						display:block;
						width:35px;
						height:35px;
						padding-top:10px;                  
						span {
							display:block;
							@include nav-sprite(twitter);
							width:22px;
							height:18px; 
							margin-top:10px;
							margin-left:9px;                                                         
						}
					}
				}  
				&.googleplus {
					a {
						display:block;
						width:35px;
						height:35px;
						padding-top:10px;                  
						span {
							display:block;                  
							@include nav-sprite(googleplus);
							width:15px;
							height:22px;      
							margin-top:10px;
							margin-left:12px;                      
						}                              
					}
				}  
				&.newsletter {
					a {
						display:block;
						width:35px;
						height:35px;
						padding-top:10px;                  
						span {
							display:block;                  
							@include nav-sprite(newsletter);
							width:22px;
							height:22px;   
							margin-top:8px;
							margin-left:10px;                                                       
						}
					}
				}                            
			}
		}
	} 
	.login {
		@include nav-sprite(user_sign);          
		height:25px;
		padding-top:6px;
		text-align:center;
		color:$brown;
		span:hover {
			cursor:pointer;
		}
		.user {
			width:16px;
			height:16px;
			display:inline-block;
			margin-bottom:-4px;
			@include nav-sprite(user);
		}
		a {
			color:$brown;
			&:hover {
				color:$red;
			}
		}
	}       
}
.title-bar.blog {
	width: 362px;
	padding: 0;
	height:29px;
	margin:0;
	ul {
		margin:0;
		li {
			margin:0;
			display:block;
			float:left;
			width: 30px;
			height: 20px;
			text-align:center;
			&:hover, &.hover {
				&.bold  {
					.icon {
						@include ui-sprite(bold_hover);
					}
				}	
				&.italic  {
					.icon {
						@include ui-sprite(italic_hover);
					}
				}	
				&.h1  {
					.icon {
						@include ui-sprite(h1_hover);
					}
				}	
				&.h2  {
					.icon {
						@include ui-sprite(h2_hover);
					}
				}	
				&.picture  {
					.icon {
						@include ui-sprite(picture_hover);
					}
				}	
				&.list_blog  {
					.icon {
						@include ui-sprite(list_blog_hover);
					}
				}	
				&.link  {
					.icon {
						@include ui-sprite(link_hover);
					}
				}																																			
			}
			&:active, &.active {
				&.bold  {
					.icon {
						@include ui-sprite(bold_active);
					}
				}	
				&.italic  {
					.icon {
						@include ui-sprite(italic_active);
					}
				}	
				&.h1  {
					.icon {
						@include ui-sprite(h1_active);
					}
				}	
				&.h2  {
					.icon {
						@include ui-sprite(h2_active);
					}
				}	
				&.picture  {
					.icon {
						@include ui-sprite(picture_active);
					}
				}	
				&.list_blog  {
					.icon {
						@include ui-sprite(list_blog_active);
					}
				}	
				&.link  {
					.icon {
						@include ui-sprite(link_active);
					}
				}																																			
			}			
		}
	}
	.filter {
		@include border-radius(0px);
		border-top:none;
		border-bottom:none;
		@include background-image(linear-gradient(rgba(255, 255, 255, 0.0), rgba(000, 000, 000, 0.00)));
		border-right: 1px solid white;
		border-bottom:none;
		padding-top:5px;		
		&:first-child {
			border-left:none;
		}
		&:last-child {
			border-right:none;
		}
	}
}

