.backoffice {
	table {
		tr {
			td, th {
				@include bg-sprite(height_50);
				background-repeat:repeat-x;
				height:34px;
			}
			td {
				&:first-child {
					width:300px;
				}
				.type {
					color:$lightgrey;
				}
			}
		}
	}
}