
<div class="l_main_gutter has_column blog">
	<div class="l_area_left">
		<ul class="main-nav">
			<li>Actualité</li>
			<li>Convictions</li>
			<li class="current">Évènement</li>
		</ul>
		<div class="clear"></div>
		
		<div class="helper">
			<p class="title"><span class="is-grey">Catégorie:</span> Évènement</p>
			<p class="">Découvrez les tags de cette catégorie: <a href="">association</a>, <a href="">amap</a></p>
		</div>

		<ul class="articles-list" itemprop="blogPosts">
			<li class="article" itemprop="blogPost">
				<div class="header">
					<h3 class="title" itemprop="name">Article lorem ipsum dolor</h3>
					<div class="sub-title">
						<span>Par</span>
						<a class="name" href="" itemprop="author">Jacques dupont</a>
					</div>
				</div>
				<div class="body">
					<div class="details">
						<span class="detail date">
							<span class="icon"></span>
							<span class="value"  itemprop="dateCreated">aujourd'hui</span>
						</span>
						<span class="detail comments">
							<span class="icon"></span>
							<span class="value">2 commentaires</span>
						</span>
						<span class="detail tags">
							<span class="icon"></span>
							<span class="value"><a href="" itemprop="keywords">association</a>, <a href="" itemprop="keywords">amap</a></span>
						</span>												
					</div>
					<p class="content" itemprop="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dictum, lacus vitae placerat ultrices, enim mi aliquet nibh, sed tincidunt dui metus eget odio. Phasellus vel velit eget tortor consequat placerat sit amet imperdiet diam</p>
					<div class="has_corners_shadow is_giant">
						<img src="" alt="" itemprop="image">
					</div>
					<span class="button" itemprop="url"><a href="">lire la suite</a></span>
				</div>
			</li>
		</ul>
	</div>
	<div class="l_area_right">
		<div class="sidebox calendar">
			<h3 class="title">Agenda</h3>
			<ul class="events">
				<li class="event"><a href="" class="title"><i class="icon icon-puce"></i>Rassemblement annuel</a><br><rspan class="date">le 18 juin 2012</span></li>
				<li class="event"><a href="" class="title"><i class="icon icon-puce"></i>Anniversaire de l'association</a><br><span class="date">le 15 septembre 2012</span></li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>