// Squelette général du site
body {
  .l_wrapper {
    width:960px;
    margin:0 auto 0 auto;
    @include borderradius(5px);
    background:#fafafa url(/../images/patterns/paper.png) repeat;
    .l_main_gutter {
      padding:20px;
      .l_content_left, .l_content_right {
        float:left;
        width:285px;
        margin-left:20px;
      }
      .l_content_left {
        margin-left:0;
      }
    }
    .l_area_left {
      width:590px;
      margin:0;
      float:left;
    }
    .l_area_right {
      width:310px;
      float:left;
      margin-left:20px;
    }
  }
}


// Structure photo + description
.l_photo_description {
  width:auto;
  .image {
    float:left;
    position:relative;
    z-index: 2;
  }
  .description {
    width:auto;
    padding-bottom:5px;
    z-index: 1;
    h2 {
      margin:0;
    }
    p.location {
      font-size: 14px;
      margin-top:5px;
    }
    .note {
      color:$grey;
      margin-bottom: 0;
    }
    .title {
      font-size:16px;
      margin-bottom:10px;
    }
  }
}
