.l_process_order.l_main_gutter {
	padding:20px 90px 40px 90px !important;	
	overflow:hidden;
	h2 {
		@include title(1,30px);
	}
	// Panneau 
	.process_sign {
		width:800px;
		@include margin;
		text-align:center;
		padding-bottom:20px;			
		span {
			font-size:16px;
			margin:10px 40px 0px 40px;				
		}
		.picture {
			width:552px;
			height:81px;
			@include margin;
			margin-bottom:10px;
		}
		.current {
			@include title(2,16px);
			font-family:helveticaneue-bold;
		}
		.done {
			color:$red !important;
		}
	}
	// Liste
	.raw_select{
		.l_photo_description {
			.image {
				.radio{
					@include ui-sprite(radio_active);
				}					
			}
		}
	}
	.raw {
		.l_photo_description {
			.image {
				margin:20px 20px 20px 0;	
				width:65px;						
			}
			.content {
				width:440px;
				float:left;		
				height:89px;
				padding:20px 20px 0px 0;
				border-right:solid 1px $embossed_dark;
				.title {
					@include title(2,16px);
					padding:0;
					margin:0;
					span {
						margin-left:10px;
					}
				}					
				.descritpion {
					margin-top:4px;
				}
			}
		}
	}
	ul.products {
		width:780px;
		border:solid 1px $embossed_dark;
		@include box-shadow(rgba(255,255,255, 1) 0px 1px 1px 0px);
		@include bg-sprite(height_109);
		background-repeat:repeat !important;
		margin-top:0px;
		li {
			&:last-child .raw {
				border-bottom:none;
			}
			.raw {
				width:740px;
				height:109px;
				@include bg-sprite(height_109);
				background-repeat:repeat-x;
				padding:0 20px 0 20px;
				border-top:1px solid #ffffff;
				border-bottom:solid 1px $embossed_dark;
				&:hover {						
					@include bg-sprite(height_109);					
					background-repeat:repeat-x;							
				}
				.sum {
					font-size:20px;
					font-weight:bold;
					position:relative;
				}
				.quantity {
					float:left;
					width:100px;
					height:66px;
					border-left:solid 1px #ffffff;
					border-right:solid 1px $embossed_dark;
					text-align:center;
					padding-top:43px;
					overflow: hidden;
					.sum {
						top:-8px;
					}
				}
				.price {
					text-align:center;
					float:left;
					width:90px;
					height:109px;
					border-left:solid 1px #ffffff;
					position:relative;
					.sum {
						top:42px;
					}
					.close_square {
						position:absolute;
						top:42px;
						right:-75px;
					}
				}
			}				
		}
	}	
	&.step_1 {
		.process_sign {
			.picture {
				@include process_order-sprite(process_level_1);
			}
			.resume {
				@include title(2,16px);
				font-family:helveticaneue-bold;
			}
			.point_choice {
				margin-left:55px;
			}
		}
		.labels {
			display:block;
			width:780px;
			@include margin;
			span {
				color:$brown;
				font-size:16px;
				display:block;
				text-align:left;
				float:left;
			}
			.label_description {
				width:565px;
			}
			.label_quantity {
				width:104px;
			}
			.label_price {
				width:100px;				
			}			
		}		
	}
	.footer {
		text-align:right;
		.back {
			margin-right:20px;
		}
		.total {
			p {
				margin:10px 0 10px 0;
				@include title(1,30px);			
			}
		}		
	}
	&.step_2 {
		li:hover, #b_sign_up:hover, #b_sign_in:hover {
			cursor:pointer;
		}
		.process_sign {
			.picture {
				@include process_order-sprite(process_level_2);					
			}
			.resume {
				margin-right:10px;
			}
			.point_choice {
				margin-left:85px;
			}
		}	
		.raw {
			.content {
				border-right:none;
				width:635px;
				.descritpion, .number {
					margin-bottom:7px !important;
					padding-bottom:0;
				}
				.number {
					padding-top:0px;
					margin-top:0;
				}
			}
			.radio {
				padding:0;
				@include margin;
				display:block;
				margin-top:20px;
			}
		}	
	}
	.choice_registered {
		h2 {
			padding-top:40px;
		}
		.choice {
			@include embossed_button($embossed_dark);	
		}
		//__ ME
		.is_choose {
			color:#ffffff;
			text-shadow:none;
			background-color: transparentize($embossed_dark, 0.7);
			border:solid 1px darken($embossed_dark, 5%);
			@include box-shadow(rgba(0,0,0, 0.4) 0px 0px 3px 0px inset, rgba(255,255,255, 1) 0px 1px 1px 0px);
			.radio_area {
				.radio {
					background-position:0px -26px;
				}
			}
		}
		.choice, .loggin {
			float:left;			
			@include borderradius(5px);		
			width:210px;
			height:115px;
			padding:10px;
			&.yes {
				margin:0;	
			}
			.radio_area {
				width:30px;
				margin-top:15px;
				margin-left:10px;
				float:left;
				.radio {
					padding:0;
				}
			}
			.content {
				width:170px;
				float:left;
				.title {
					@include title(1,30px);
				}
				.sub_title {
					@include title(2,18px);
				}
				p {
					margin:0;
					padding:0;
				}				
			}
		}
		.right_arrow {
			display:block;
			float:left;
			margin:0 15px 0 21px;
		}
		.loggin {
			width:200px;
			padding:20px;
			height:inherit;
			border:solid 1px $embossed_dark;
			background:url(/../images/bg_darkener.png);
			margin-bottom:25px;
			input {
				width:190px;
			}
			.content {
				width:150px;
			}
			.footer {
				width:200px;
				padding-top:20px;
				.button {
					text-align:right;
				}
			}
		}
	}
	&.step_3 {
		.process_sign {
			.picture {
				@include process_order-sprite(process_level_3);					
			}
			.resume {
				margin-right:10px;
				border:none;
			}
			.point_choice {
				margin-left:85px;
			}
		}
		.resume, .paiement {
			padding-top:50px;
			.left_part {
				width:300px;
				float:left;
				.title {
					@include title(1,30px);
					padding-top:0;
					margin-top:0;
				}
			}
		}
		.resume {
			border-bottom:solid 1px $embossed_dark;
			padding-bottom:50px;
			//lol
			.table {
				float:right;
				width:470px !important;
				table {
					width:470px !important;
				}
			}
		}		
		.paiement {
			border-top:solid 1px #ffffff;	
			form {
				ul {
					margin:0;
					li {
						list-style-image:none !important;
					}
				}
				width:470px;
				float:left;
				p {
					margin-bottom:0px;
				}		
				.date {
					.month {
						width:80px;
						margin-right:20px;
					}
					.year {
						width:100px;
					}
				}	
				.crypto {
					input {
						width:80px;
					}
				}	
				.footer {
					padding-top:50px;
				}
			}
		}	
	}
}
.l_process_order.step_4 {
	text-align: center;
	.helper {
		width:400px;
		margin:0 auto;
	}
	h2 {

	}
}