body {
  .l_main_gutter.column {
    background: url(/../images/bg_column.png) repeat;
  }
  .l_wrapper {
    .l_area_left {
      .pictures {
        ul {
          height:72px;
          padding:0;
          li {
            display:block;
            float:left;
            margin-left:8px;
          }
        li:first-child {margin-left:0;}
        }
      }
    }
    .l_area_right {
      width:290px;
      margin-left:40px;
      h3.product_by, h3.other_products {
        @include title(1, 30px);
      }
      h2 {
        @include title(2, 18px);
        font-family: helveticaneue-bold;
      }
      .presentation {
        .photo {
          width:65px;
          float:left;
        }
        .farmer {
          width:205px;
          float:left;
          margin-left:20px;
          padding-bottom:5px;
          h2 {
            margin:0;
          }
          p.location {
            font-size: 14px;
            margin-top:5px;
          }
        }
      }
    }
  }
}