<h1>Editing produit_panier</h1>

<%= render 'edit_form' %>

<%= link_to 'Show', administration_user_panier_produit_panier_path(params[:user_id],params[:panier_id],@produit_panier) %> |
<%= link_to 'Back', administration_user_panier_produit_panier_path(params[:user_id],params[:panier_id]) %>
