<h1>Editing panier</h1>

<%= render 'form' %>

<%= link_to 'Show',  administration_user_panier_path(params[:user_id],@panier) %> |
<%= link_to 'Back', administration_user_paniers_path(current_user) %>
