// Texte alternatif
.note {
  font-style: italic;
  font-size: 13px;
  color:#B2B2B2;
}
// Mode italic du texte normal (police helveticaneue)
.italic {
  font-family: helveticaneue-italic;
}

// Style de titre
@mixin title($style, $taille) {
  @if $style == 1 {
    font-family: bellopro, Lobster;
    color:$brown;
  }
  @else if $style == 2 {
    font-family: helveticaneue, helvetica;
    color: $red;
  }
  text-shadow:1px 1px 1px #ffffff;
  font-size: $taille;
}

// Ombre 2 coins pliés pour grosse image
.has_corners_shadow.big {
  width:273px;
  height:273px;
  display: block;
  position: relative;
  padding:5px;
  background:#ffffff;
  border:solid 1px #dcdcdc;
  &:after {
    content:"";
    position:absolute;
    left:0;
    bottom: -11px;
    background: url("/../images/shadow_big.png") left center  no-repeat;
    width: 285px;
    height:11px;
    margin:0 auto;
  }
}
.has_corners_shadow.small {
  width:53px;
  height:53px;
  display: block;
  position: relative;
  padding:5px;
  background:#ffffff;
  border:solid 1px #dcdcdc;
  &:after {
    content:"";
    position:absolute;
    left:0;
    bottom: -7px;
    background: url("/../images/shadow_small.png") left center no-repeat;
    width: 65px;
    height:7px;
    margin:0 auto;
  }
}

