// Texte alternatif
.note {
  font-style: italic;
  font-size: 13px;
  color:#B2B2B2;
}
// Mode italic du texte normal (police helveticaneue)
.italic {
  font-family: helveticaneue-italic;
}

// Ombre 2 coins pliés
.has_corners_shadow {
  position: relative;
  &:before, &:after     {
    z-index: -1;
    position: absolute;
    content: “”;
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  &:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }
}
