<h1>Pagerevendeur#show</h1>
<p>Find me in app/views/page_revendeur/show.html.erb</p>

<div class="well">
	<h1> <%= @revendeur.nom %></h1>
	
	<p> Description :<%= @revendeur.description %> </p>
	<p> Ville : <%= @revendeur.ville.nom %></p>
	<p> Amap : <%= @revendeur.direction.nom %></p>
	
	
</div>
