.l_main_gutter.product_list, .basket_list {
  .filters, .activation {
    float:right;
    span {
      color:$brown;      
    }
    .filter {
      @include embossed_button($light_brown);
      padding: 5px 10px 2px 10px;
      &:active {
        @include box-shadow(rgba(0,0,0, 0.0) 0px 0px 3px 0px inset, rgba(255,255,255, 1) 0px 1px 1px 0px);
        background-color:$light_bg_color;
        color:$brown;        
      }
      .vertical_devider {
        height:21px !important;
        position:relative;
        top:6px;
      }
      .down_arrow {
        position:relative;
        top:2px;
        left:5px;
      }
    }    
  }
  ul.l_product_list {
    margin:0;
    padding:0;
    li {
      float:left;
      margin:0 0 25px 40px;
      &:first-child {
        margin-left:0;
      }
      .image {
        float:none;
      }
      .content {
        .title {
          text-align: center;
          color: $red;
          font-family: helveticaneue-bold;
          margin-top:8px;
        }
        .description {
          margin-top:8px;
          margin-bottom: 0;
          font-size: 13px;
        }
        .price {
          margin-top:8px;
        }
      }
    }
  }
  ul.l_product_list.huge_right {
    li {
      float:right;
      margin:0 40px 25px 0;
      &.is_huge {
        margin-right:0px;
        .content .title {
          margin-top:20px;
        }
      }
    }
  }
  ul.l_product_list.huge_left {
    li {
      margin:0 0 25px 40px;
      &.is_huge {
        margin-left:0px;
        .content .title {
          margin-top:20px;
        }
      }
    }
  }
}