<div class="page-header">
   	<h1>Modifier  <%= @produit_vente_libre.titre %> en vente </h1>
</div>


<%= render 'edit_form' %>

<%= link_to 'Plus d\'info', administration_user_produit_vente_libre_path(params[:user_id],@produit_vente_libre) %> |
<%= link_to 'Retour', administration_user_produit_vente_libres_path(params[:user_id]) %>
