.clear {
  clear:both;
}

// Ajoute un fond pour créer une colonne "fictive" à la div l_main_gutter {
.has_column {
  background: url(/../images/bg_column.png) repeat;
}

// Attribue le style italic / gras du texte normal (police helveticaneue)
.is_italic {
  font-family: helveticaneue-italic;
}
.is_bold {
  font-family: helveticaneue-bold;
  font-style:normal;
}

// Fonce le bg texturé
.bg_is_dark {
  background:url(/../images/bg_darkener.png) repeat;
}

/*--------------------------------------------------------
|                                                        |
|    Ombres pour les images: .has_corners_shadow         |
|                                                        |
|    A 5 tailles:       -   .is_small                    |
|                       -   .is_vcard                    |
|                       -   .is_medium                   |
|                       -   .is_big                      |
|                       -   .is_huge                     |
|                                                        |
--------------------------------------------------------*/
// Attribue la taille de l'ombre au images à la classe: has_corners_shadow
.has_corners_shadow {
  &.is_huge {
    width:428px;
    height:428px;
    &:after {
      bottom:-13px;
      width:440px;
      height:13px;
      background-position: left top;
    }
  }
  &.is_vcard {
    width:418px;
    &:after {
      bottom:-11px;
      width:428px;
      height:11px;
      background-position: left -37px;
    }
  }
  &.is_big {
    width:273px;
    height:273px;
    &:after {
      bottom:-10px;
      width:285px;
      height:10px;
      background-position: left -13px;
    }
  }
  &.is_medium {
    width:188px;
    height:188px;
    &:after {
      bottom:-9px;
      width:200px;
      height:9px;
      background-position: left -23px;
    }
  }
  &.is_small {
    width:53px;
    height:53px;
    &:after {
      bottom:-5px;
      width:65px;
      height:5px;
      background-position: left -32px;
    }
  }
}


/*--------------------------------------------------------
|                                                        |
|    Structure photo + contenu: .l_photo_description     |
|                                                        |
|    A 2 dispositions:  -   .is_horizontal               |
|                       -   .is_vertical                 |
|                                                        |
--------------------------------------------------------*/
// Attribue la taille de l'image en vertical & horizontal
.l_photo_description {
  &.is_small {
    .image {
      width:65px;
    }
  }
  &.is_medium {
    .image {
      width:200px;
    }
  }
  &.is_big {
    .image {
      width:285px;
    }
  }
}
// Attribue la disposition vertical et ajuste la taille
.l_photo_description.is_vertical {
  .image {
    clear:both;
    margin:0 auto;
    .has_corners_shadow {
      float:none;
    }
  }
  .content {
    text-align: center;
    .price {
      text-align: center;
      font-family: helveticaneue-bold;
    }
  }
  &.is_small {
    width:65px;
  }
  &.is_medium {
    width:200px;
  }
  &.is_big {
    width:285px;
  }
  &.is_huge {
    width:440px;
    .title {
      font-size:22px;
    }
    .description {
      font-size: 15px !important;
      padding-bottom:10px;
    }
    .price {
      font-size:30px;
    }
  }
}

// Dans le menu, définie si le panneaux est double ou simple, et raoujoute aussi l'image associé au menu
body header .l_header_wrapper .l_nav .l_nav_element {
  &.l_dual_sign {
    @include nav-sprite(sign_double);
    width: 220px;
    .dropdown.product {
      .dropdown_menu {
        left:103px;
      }
    }
    .l_link {
      float:left;
      &.basket {
        span {
          width:40px;
          margin-left:32px;
          @include nav-sprite(basket); 
        }
          &:hover {
          color:$red;
          span {
            @include nav-sprite(basket_hover);       
          }
        }
      }
      &.product {
        width:117px !important;
        span {
          width:28px;
          height:38px;
          margin:5px 0 -0 50px;
          @include nav-sprite(product);              
        }
        &:hover {
          span {
            @include nav-sprite(product_hover);      
          }
        }
      }
      &.blog {
        span {
          width:26px;
          height:38px;
          margin:9px 0 -5px 38px;
          @include nav-sprite(blog);              
        }
        &:hover {
          span {
            @include nav-sprite(blog_hover);      
          }      
        }
      }
      &.about_us {
        background-image: none !important;
        width:117px !important;
      }
    }
  }
  &.l_single_sign {
    @include nav-sprite(sign_single);
    .l_link {
      &.farmer {
        width: 123px !important;
        span {
          width:33px;
          height:34px;
          margin:8px 0 0px 50px;
          margin-left:40px;               
          @include nav-sprite(farmer);               
        }
        &:hover {
          span {
            @include nav-sprite(farmer_hover);       
          }
        }
      }
    }
  }
}
