.card_stack {
	position: relative;
	&:hover {
		.buttons_card {
			opacity: 1;
		}
	}
	.packaging {
		display: block;
		position: relative;
		width: 409px;
		height: 172px;
		z-index: 6;
		top: -7px;
		left: 111px;
		padding: 10px 33px 19px 33px;

		@include backoffice-sprite(basket_packaging);
	}
	.header {
		margin:10px 0 0 0;

		border-bottom: solid 1px #EBEBEB;
	}
	h2 {
		float: left;
		width: 309px;
		margin:5px 0 5px -10px;
		padding:5px 0 5px 10px;	
	}
	.body {
		height: 50px;

		border-bottom: solid 1px #EBEBEB;
	}
	.description {
	  width: 410px;
	  margin:5px 0 10px -10px;
	  padding:10px 0 5px 10px;

	  border: solid 1px #fcfcfc;
	  border: solid 1px rgba(255,255,255,0);
	}
	.main-informations {
		width: 225px;
		float: left;
		margin: 10px 0 0px -10px;
		padding: 7px 0 8px 10px;
		li {
			display: inline-block;
			padding-right: 25px;
		}
		.number {
			color: $brown;
			font-size: 20px;
		}		
	}
	.icon {
		margin-left: 10px;
		vertical-align: top;
		display: inline-block;
		&.members {
			width: 22px;
			height: 24px;
			@include backoffice-sprite(farmer_little);
		}
		&.pictures {
			width: 27px;
			height: 19px;
			@include backoffice-sprite(pictures_little);
			margin-top: 3px;
		}
		&.products {
			width: 18px;
			height: 24px;
			@include backoffice-sprite(products_little);
		}
	}
	.card {
		position: absolute;
		&.one {
			top: 0;
			z-index: 3;
		}
		&.two {
			top: -3px;
			z-index: 4;
		}
		&.three {
			top: -6px;
			z-index: 5;
		}
	}
}
.card_stack, .basket-details {
	.details {
		float: left;
		width: 180px;
		margin: 5px 0 0px 0px;
		padding: 5px 0 0px 0px;
	}
	.detail {
		display: block;
		float: left;
		width: 55px;
		margin-left: 5px;

		text-align: center;
		ul.number {
			font-size: 0; // règle le problème de marge ajouté avec le type d'élément inline-block
		}
		span.number {
			margin-top:3px;
		}
		.number {
			display: block;
			margin: 0;
			padding: 0;
			.check {
				background:$grey;
				@include border-radius(3px);

				color: white;
				text-shadow: none;
			}
			ul {
			}
			li {
				padding: 3px 3px 0px 3px;
				margin: 3px 1px 1px 1px;
				display: inline-block;
				font-size:13px;
			}
		}
	}
	.label {
		display: block;

		font-size: 13px;
		color: $brown;
		font-family: 'helveticaneue-bold';
	}
}
.header-list {
	text-align: right;
	height: 52px;
	margin-bottom: 10px;
	p {
		float: left;
		margin-top: 5px;
	}
}
.sous_content{
	 width: 900px;
}
.new-declinaison{
	margin-right: 200px
}
.back-declinaison{
	margin-left: 165px;
	margin-right: 50px;
}
.form_add_decli{
	margin-top: 20px
}
.basket-details {
	padding: 0;
	width: 390px;
	margin-bottom: 20px;
	.raw {
		padding: 0;
		height: 60px;
	}
	.details {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.detail {
		width: 89px;
		border-left: solid 1px rgba(#fff, 0.5);
		border-right: solid 1px rgba($embossed_dark, 0.5);
		margin: 7px 0;
		&:last-child {
			border-right: none;
		}
		&:first-child {
			border-left: none;
		}
	}
	.label {
		font-size: 14px;
	}
	.close_square {
		top: 17px;
	}
}
.form_add_product {
	.back-declinaison:hover {
		cursor: pointer;
	}
}
.other_products {
  .l_photo_description {
		position: relative;
  }
  li {
  	width: 420px;
  }
  .close_square {
		position: absolute;
		top: 0px;
		right: 0px;
  }
	li {
		padding-bottom: 20px;
		border-bottom:solid 1px $embossed_dark; 
		border-top:1px solid #ffffff;
		&:last-child  {
		  border-bottom: none;
		}
		&:first-child {
		  border-top: none;      
		}
	}
}