<div class="page-header">
	<h1>Listes des articles</h1>
	<ul class="buttons">
		<li class="logoff button" tool_tip="deconnexion"><span class="picture"></span></li>
		<li class="separator"></li>
		<li class="stats button" tool_tip="statistiques"><span class="picture"></span></li>
		<li class="help button button_active" tool_tip="aide"><span class="picture"></span></li>        
		<li class="separator"></li>
		<%= link_to administration_user_new_categorie_path(current_user.id) do %> 
			<li class="add button" tool_tip="ajouter un produit"><span class="picture"></span></li>
		<% end %>
	</ul>
</div>

<div class="helper">
	<p class="title is_bold"><i class="icon ui-help_hover"></i>Gérer vos articles du blog</p>
	<span class="close"><i class="icon-remove"></i></span>
	<ul class="content">
		<li><span class="is_bold">Créer un article</span> depuis la barre d'action située en haut de la page, en cliquant sur le bouton ajouter.</li>
		<li><span class="is_bold">Modifier un article</span> depuis son billet, en cliquant sur le bouton au crayon.</li>
		<li><span class="is_bold">Supprimer un article</span> depuis son billet, en cliquant sur le bouton rouge à la corbeille.</li>
	</ul>
</div>

<ul class="billets">
	<% @categorie_blogs.each do |categorie_blog| %>
		<h1> <%= categorie_blog.titre %> </h1>
	
	<% end %>
	<!--
<li class="billet">
		<div class="left_area"></div>
		<div class="right_area">
			<div class="header">
				<h2 class="title">Lorem ipsum dolor et sit ame adiscipling condescum</h2>
				<ul class="buttons_card">

					<li class="edit button" tool_tip="modifier"><span class="picture"></span></li>

					<li class="delete button" tool_tip="supprimer"><span class="picture"></span></li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="body">
				<div class="details">
						<span class="detail date">
							<span class="icon"></span>
							<span class="value"  itemprop="dateCreated">aujourd'hui</span>
						</span>
						<span class="detail comments">
							<span class="icon"></span>
							<span class="value">2 commentaires</span>
						</span>
						<span class="detail tags">
							<span class="icon"></span>
							<span class="value"><a href="" itemprop="keywords">association</a>, <a href="" itemprop="keywords">amap</a></span>
						</span>												
					</div>
			</div>
		</div>
	</li>
	<li class="billet">
		<div class="left_area"></div>
		<div class="right_area">
			<div class="header">
				<h2 class="title">Lorem ipsum dolor et sit ame</h2>
				<ul class="buttons_card">

					<li class="edit button" tool_tip="modifier"><span class="picture"></span></li>

					<li class="delete button" tool_tip="supprimer"><span class="picture"></span></li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="body">
				<div class="details">
						<span class="detail date">
							<span class="icon"></span>
							<span class="value"  itemprop="dateCreated">aujourd'hui</span>
						</span>
						<span class="detail comments">
							<span class="icon"></span>
							<span class="value">2 commentaires</span>
						</span>
						<span class="detail tags">
							<span class="icon"></span>
							<span class="value"><a href="" itemprop="keywords">association</a>, <a href="" itemprop="keywords">amap</a></span>
						</span>												
					</div>
			</div>
		</div>
	</li>	
-->
</ul>