<div class="page-header">
	<h1>Nouvel article</h1>
	<ul class="buttons">
		<li class="logoff button" tool_tip="deconnexion"><span class="picture"></span></li>
		<li class="separator"></li>
		<li class="help button button_active" tool_tip="aide"><span class="picture"></span></li>        
	</ul>
</div>	
<div class="helper">
	<p class="title is_bold"><i class="icon ui-help_hover"></i>Rédaction d'articles</p>
	<span class="close"><i class="icon-remove"></i></span>
	<ul class="content">
		<li><span class="is_bold">Créer un article</span> depuis la barre d'action située en haut de la page, en cliquant sur le bouton ajouter.</li>
		<li><span class="is_bold">Modifier un article</span> depuis son billet, en cliquant sur le bouton au crayon.</li>
		<li><span class="is_bold">Supprimer un article</span> depuis son billet, en cliquant sur le bouton rouge à la corbeille.</li>
	</ul>
</div>
<input type="hidden" class="user_id" value="<%= current_user.id %>" />
<div class="title-bar blog">
	<ul>
		<li class="filter bold"><i class="icon icon-bold "></i></li>
		<li class="filter italic"><i class="icon icon-italic"></i></li>
		<li class="filter list_blog"><i class="icon icon-list_blog"></i></li>
		<li class="filter picture"><i class="icon icon-picture"></i></li>
		<li class="filter h1"><i class="icon icon-h1"></i></li>
		<li class="filter h2"><i class="icon icon-h2"></i></li>
		<li class="filter link"><i class="icon icon-link"></i></li>
	</ul>
</div>
<br><br>
<div class="wysiwig_admin">
	<div id="toolbar-edit">
		<a class="button" data-wysihtml5-command="bold"> <span> G </span></a>
		<a class="button" data-wysihtml5-command="italic"> <span> I </span></a>
		
		<a class="button" data-wysihtml5-command="justifyCenter"> <span> Lien </span></a>
		
		<a class="button" data-wysihtml5-command="createLink"> <span> Lien </span></a>
		
		
		<a class="button button_insert_image" data-wysihtml5-command="insertImage"> <span> Image </span></a>
		<br class="clear" />
		<div class="div_add_link" data-wysihtml5-dialog="createLink">
			<label>
				Lien :
				<input data-wysihtml5-dialog-field="href" value="http://" />
			</label>
			<a class="button" data-wysihtml5-dialog-action="save"> <span> Save </span></a>
			<a class="button" data-wysihtml5-dialog-action="cancel"> <span> Annuler </span></a>
		</div>
		<br class="clear" />
		
		<div class="lightbox_wrapper lightbox_insert_image has-menu" >
			<!-- _______________ form for connexion ____________ -->
			<div class="lightbox " data-wysihtml5-dialog="insertImage">
				<!-- ________UTILE POUR CHARGER IMAGE DANS BOX____________________ -->
				<div class="loggin" style="display:none;">
					<div class="content">
						<div class="div_add_link">
						  <label>
						    Image:
						    <input class="input_wysihtml5_image" data-wysihtml5-dialog-field="src" value="http://">
						  </label>
						  <a class="button_wysihtml5_save_image" data-wysihtml5-dialog-action="save">OK</a>
						  <a data-wysihtml5-dialog-action="cancel">Cancel</a>
						</div>
					</div>
				</div>
			<!-- _______________________________________________________ -->
				
				<div class="header">
					<h1 class="title"> Nouvelle image </h1>
				</div>
				
				<div class="content">
					<img src="" class="apercu_image" width="200px"/>
					<form>
						<input type="file" class="input_image" name="input_image"/>
						
					</form>
				</div>
				
				<div class="footer">
					<span class="button button_add_image"> <a> Ajoutez </a> </span>
				</div>
				
			</div>
		</div>
		
	</div>
	
	
	<%= simple_form_for([:administration, User.find(7)], :html => {:class => 'form-horizontal' }) do |f| %>
		
		<%= f.text_area :nom, :cols => 100, :rows => 100, :style => 'width:700px;'  %>
	
	<% end %>
</div>