// Définition des couleurs principales
$brown:#69513b;
$light_brown:#c3aa86;
$lightbrown:#c0a782;

$red:#d1534a;

$grey:#969696;
$lightgrey:#B2B2B2;

$bg_color:#f7f4ec;
$light_bg_color:#fcfaf2;
$dark_bg_color:#f0ede6;

$embossed_dark:#C8C5BF;

//Définitions des Sprites
@import "compass/css3"; //necessaire pour les sprites

$nav-layout:smart;
@import "nav/*.png";
@include all-nav-sprites;

@import "bg/*.png";
@include all-bg-sprites;

$home_page-layout:smart;
@import "home_page/*.png";
@include all-home_page-sprites;

$ui-layout:smart;
@import "ui/*.png";
@include all-ui-sprites;


$process_order-layout:smart;
@import "process_order/*.png";
@include all-process_order-sprites;

$backoffice-layout:smart;
@import "backoffice/*.png";
@include all-ui-sprites;


// Inclusion de fichier .scss
@import "base/normalize";
@import "compass/utilities";
@import "typography/typography";
@import "modules/module";
@import "compass/css3/transform";
@import "base/base";
@import "layout/layout";
@import "state/state";
@import url(http://fonts.googleapis.com/css?family=Lobster);     // police google web-fond alternative de Bello Pro


.sunshine {
	@include sunshine;
}