<div class="page-header">
  <h1>Historique d'achat</h1>
  <ul class="buttons"></ul>
</div>

<div class="l_main_gutter">
  <h3><i class="icon icon-product"></i> Mes achats directs</h3>
  <div class="table">
    <table class="">
      <tr>
        <td>lol</td>
        <td>lol</td>
        <td>lol</td>
        <td>lol</td>
      </tr>
      <tr>
        <td>lol</td>
        <td>lol</td>
        <td>lol</td>
        <td>lol</td>
      </tr>
    <tr>
        <td>lol</td>
        <td>lol</td>
        <td>lol</td>
        <td>lol</td>
      </tr>      
    </table>
  </div>

  <h3><i class="icon icon-basket"></i> Mes panier en cours</h3>
  <div class="table">
    <table class="">
      <tr>
        <td>lol</td>
        <td>lol</td>
        <td>lol</td>
        <td>lol</td>
      </tr>     
    </table>
  </div>

</div>