<div class="page-header">
  <h1>Historique d'achat</h1>
  <ul class="buttons"></ul>
</div>

<div class="l_main_gutter">
  <h3><i class="icon icon-product"></i> Mes commandes </h3>
  <div class="table">
    <table class="">
      <tr>
      	<th> Date de commande </th>
      	<th> Date de livraison </th>
        <th> Point Relai </th>
        <th> Etat de la commande </th>
        <th> Total</th>
        <th> Informations </th>
      </tr>
      <tr>
      	<td> 7/09/2012</td>
        <td> 12/09/2012</td>
        <td> 10 Rue nationale, Lille</td>
        <td> Payé, préparation de la commande </td>
        <td> 25 €</td>
        <td> <span class="button"> <a> Details </a> </span></td>
      </tr> 
      <tr>
        <td> 26/06/2012</td>
        <td> 30/06/2012</td>
        <td> 10 Rue nationale, Lille</td>
        <td> Envoyé </td>
        <td> 52 €</td>
        <td> <span class="button"> <a> Details </a> </span></td>
      </tr>   
      <tr>
      	<td> 04/01/2012</td>
        <td> 10/01/2012</td>
        <td> 10 Rue nationale, Lille</td>
        <td> Envoyé </td>
        <td> 120 €</td>
        <td> <span class="button"> <a> Details </a> </span></td>
      </tr>
  
    </table>
  </div>

  <h3><i class="icon icon-basket"></i> Mes abonnements en cours (Paniers)</h3>
  <div class="table">
    <table class="">
      <tr>
      	<th> Panier </th>
      	<th> Nombre de personnes </th>
        <th> Date de début </th>
        <th> Date de fin </th>
        <th> Point Relai </th>
        <th> Total</th>
      </tr>
      <tr>
        <td> Panier de Michou</td>
      	<td> 4 </td>
        <td> 10 Juillet 2012 </td>
        <td> 10 Janvier 2013 </td>
        <td> 10 rue nationale, Lille </td>
        <td> 10 € / mois </td>
      </tr>     
    </table>
  </div>
  
  
  <h3><i class="icon icon-basket"></i> Mes abonnements passés (Paniers)</h3>
  <div class="table">
    <table class="">
      <tr>
      	<th> Panier </th>
      	<th> Nombre de personnes </th>
        <th> Date de début </th>
        <th> Date de fin </th>
        <th> Point Relai </th>
        <th> Total</th>
      </tr>
      <tr>
        <td> Panier Printanier </td>
      	<td> 4 </td>
        <td> 22 Mars 2012 </td>
        <td> 22 Juin 2012 </td>
        <td> 10 rue nationale, Lille </td>
        <td> 10 € / mois </td>
      </tr>     
    </table>
  </div>

</div>